/* here you can put your own css to customize and override the theme */

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}


/* .page-header.navbar {
    background-color: #fefefe;
} */

.page-header.navbar .page-logo .logo-default {
    margin: 0.5em 0 0;
}

.logo-default {
    height: 3.5rem;
}

.page-header .top-menu .dropdown-quick-sidebar-toggler>.dropdown-toggle {
    padding: 16px 10px 10px !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    padding: 16px 10px 10px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 16px 6px 13px 8px !important;
}

.page-header .top-menu .dropdown-quick-sidebar-toggler>.dropdown-toggle i::before {
    content: "\F343";
}

.page-sidebar .page-sidebar-menu li .sub-menu li>a,
.page-sidebar .page-sidebar-menu li .sub-menu li>a>i,
.page-sidebar .page-sidebar-menu li>a,
.page-sidebar .page-sidebar-menu li>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li .sub-menu li>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li .sub-menu li>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>i {
    font-weight: 400;
}

.page-sidebar .page-sidebar-menu>li.heading>h3,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
    font-weight: 400;
}

.page-sidebar .page-sidebar-menu>li>a>.arrow::before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow::before {
    top: 12px;
}

.page-sidebar .page-sidebar-menu>li.active>a>.selected,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.selected {
    top: 11px;
}

.page-sidebar .sidebar-search .input-group .input-group-btn .btn,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn {
    padding: 0 0 0;
}

.page-content {
    background-color: #fcfcfc;
}

.shortcuts {
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}

a.shortcuts {
    color: #FFF;
    border-radius: 2px !important;
    transition: background-color .2s ease-in-out;
    -webikit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
}

a.shortcuts.blue {
    background-color: #3598dc;
}

a.shortcuts.turqoise {
    background-color: #32c5d2;
}

a.shortcuts.amber {
    background-color: #ffbe50;
}

a.shortcuts.purple {
    background-color: #8E44AD;
}

a.shortcuts.magenta {
    background-color: #d74799;
}

a.shortcuts.bluegrenish {
    background-color: #60baae;
}

a.shortcuts:hover,
a.shortcuts:focus {
    text-decoration: none;
    color: #FFF
}

a.shortcuts.blue:hover {
    background-color: #2f8bc9;
}

a.shortcuts.turqoise:hover {
    background-color: #2aa5b1;
}

a.shortcuts.amber:hover {
    background-color: #daa345;
}

a.shortcuts.purple:hover {
    background-color: #763392;
}

a.shortcuts.magenta:hover {
    background-color: #b3357c;
}

a.shortcuts.bluegrenish:hover {
    background-color: #489c91;
}

.shortcuts .shortcut-icon {
    font-size: 2.5rem;
}

.feeds li {
    padding: 0.75em 0.5em;
}

.news li .col1>.cont>.cont-col2>.desc {
    margin-left: 4px;
}

.desc a {
    color: #82949a;
    font-weight: 600;
}

.transaction {
    margin-bottom: 1em;
}

.transaction h4 {
    font-weight: 700;
}

.transaction h3 {
    margin-top: 10px;
}

.level {
    display: block;
    padding: calc(2em - 10px);
    color: #ffffff;
    margin-bottom: 1.5em;
}

.level .fa {
    margin-top: 10px;
    margin-bottom: 10px;
}

.level-1 {
    background: #53d192;
}

.level-2 {
    background: #ffd200;
}

.level-3 {
    background: #e55957;
}

.btn-purple {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

a.btn-purple {
    background-color: #8e65b0;
    border-color: #8e65b0;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

a.btn-purple:hover,
a.btn-purple:focus {
    background-color: #774e99;
    border-color: #774e99;
    color: #FFFFFF;
}

.btn-purple:focus {
    background-color: #774e99;
    border-color: #774e99;
    color: #FFFFFF;
}


/* enable absolute positioning */

.inner-addon {
    position: relative;
}


/* style glyph */

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}


/* align glyph */

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.table-report {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.blog-page .bordered {
    border: 1px solid #e7ecf1;
}

.blog-page .blog-container {
    margin-bottom: 30px;
}

.blog-content-1 .blog-single-sidebar {
    /* padding: 40px 30px; */
    padding: 20px 30px 30px;
    background-color: #fff;
}

.blog-content-1 .blog-single-sidebar .blog-sidebar-title {
    font-weight: 600;
    font-size: 14px;
    color: #4e5a64;
    letter-spacing: 1px;
    /* margin-top: 40px; */
    margin-bottom: 30px;
}

.blog-content-1 .blog-single-sidebar>.blog-single-sidebar-links>ul {
    padding: 0;
}

.blog-content-1 .blog-single-sidebar>.blog-single-sidebar-links>ul>li {
    list-style: none;
    border-bottom: 1px solid;
    border-bottom-color: currentcolor;
    border-color: #f0f1f2;
    padding: 20px 0;
    padding-top: 20px;
}

.blog-content-1 .blog-single-sidebar>.blog-single-sidebar-links>ul>li:first-child {
    padding-top: 0;
}

.blog-content-1 .blog-single-sidebar>.blog-single-sidebar-links>ul>li>a {
    color: #49a7fa;
    font-size: 16px;
}

.blog-content-1 .blog-post-content {
    /* padding: 20px 30px 30px; */
    padding: 20px 30px;
    background-color: #fff;
}

.blog-content-1 .blog-post-content>.blog-post-title {
    margin: 0 0 30px;
}

.blog-page .blog-title>a {
    color: #4e5a64;
    font-weight: 600;
}

.blog-content-1 .blog-post-content>.blog-post-title>a {
    font-size: 20px;
}

.blog-content-1 .blog-post-content>.blog-post-desc {
    color: #a0a9b4;
    font-size: 14px;
    margin: 15px 0;
    margin-bottom: 15px;
}

.blog-content-1 .blog-post-lg>.blog-post-content>.blog-post-desc {
    margin-bottom: 30px;
}

.blog-content-1 .blog-post-lg>.blog-post-content>.blog-post-foot {
    border-top: 1px solid;
    border-top-color: currentcolor;
    border-top-color: #f0f1f2;
    padding-top: 20px;
    text-align: right;
}

.blog-content-1 .blog-post-content>.blog-post-foot>.blog-post-meta {
    display: inline-block;
    margin-right: 10px;
}

.blog-content-1 .blog-post-content>.blog-post-foot>.blog-post-meta>a {
    color: #9aa5b2;
    font-size: 13px;
    font-weight: 600;
}

.blog-content-1 .blog-post-lg>.blog-post-content>.blog-post-foot>.blog-post-tags {
    text-align: left;
    float: left;
    padding: 0;
}

.blog-content-1 .blog-post-lg>.blog-post-content>.blog-post-foot>.blog-post-tags>li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

.blog-content-1 .blog-post-lg>.blog-post-content>.blog-post-foot>.blog-post-tags>li>a {
    background-color: #f4f6f8;
    color: #a0a9b4;
    font-size: 11px;
    font-weight: 600;
    padding: 7px 10px;
}

.blog-content-1 .blog-post-content>.blog-post-foot>.blog-post-meta>i {
    margin-right: 5px;
}

.blog-content-1 .blog-post-content>.blog-post-foot>.blog-post-meta>i {
    margin-right: 5px;
}


/* FAQ Style */

.faq-content-1 .faq-section {
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    margin-bottom: 30px;
}

.faq-content-1 .faq-section>.faq-title {
    margin: 0 0 20px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.faq-content-1 .faq-section .panel-group {
    margin-bottom: 0;
}

.faq-content-1 .faq-section>.faq-content .panel {
    border: none;
}

.faq-content-1 .faq-section>.faq-content .panel-heading {
    background-color: transparent;
    margin-top: 15px;
}

.faq-content-1 .faq-section>.faq-content .panel-heading i {
    font-size: 10px;
    color: #dae0e5;
    margin-right: 10px;
    margin-top: 4px;
    float: left;
}

.faq-content-1 .faq-section>.faq-content .panel-heading .accordion-toggle {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-weight: 600;
    color: #5c646a;
    padding: 0 0 10px 20px;
    line-height: 22px;
}

.faq-content-1 .faq-section>.faq-content .panel-heading .accordion-toggle:hover {
    text-decoration: none;
    color: #3598DC;
}

.faq-content-1 .faq-section>.faq-content .panel-body {
    border: none;
    background-color: #f3f6f9;
    margin-left: 20px;
}

.faq-content-1 .faq-section>.faq-content .panel-body>p {
    color: #6a757e;
    font-size: 14px;
    line-height: 22px;
}

.faq-content-1 .faq-section>.faq-content .panel-body>p:first-child {
    margin-top: 0;
}

.faq-content-1 .faq-section>.faq-content .panel-body>p:last-child {
    margin-bottom: 0;
}

.border-left-2 {
    border-left: 2px solid #dedede;
}

.hotel-group .list-group-item-heading {
    font-weight: 400;
    color: #4e5a64;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccc;
}

.hotel-group .list-group-item-text {
    margin-top: 1em;
}

.hotel-group .media>.image>img {
    object-fit: cover;
    max-height: 150px;
    width: 100%;
}

.hotel-group .tripadvisor-rating {
    max-width: 80px;
    margin-top: 0.5em;
}

.old-price {
    font-weight: 600;
}

.nta-price {
    margin: 0.75em 0;
    font-size: 1.25rem;
    display: block;
}